@charset "UTF-8";

/*
    PALETAS DE CORES
    VERDE: #49a09d
    LILÃS: #5f2c82
*/


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;   
}

body,html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    transition-duration: 1s;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
       
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;


    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.498);

    transform: translate(-50%, -50%);
    transition: width .8s , height .8s;
    transition-timing-function: ease;

}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}


div.campo > span{
    color: white;
   
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #83dedb;
    font-size: 1em;
    width: calc(100% - 44.5px);
    height: 100%;
   
    border: 0px;
    border-radius: 8px;
    padding: 4px;

    transform: translateY(-12px);
}

div.campo > input:focus-within{
    background-color: white;
}

div#imagem{
    display: block;
    background: black url(../imagens/pexels-fabianoshow4-564869275-25185499.jpg ) no-repeat;

    background-position: center center;

    height: 200px;
    background-size: cover;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

form > input[type=submit]{
    margin-top: 10px;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #255352;
    color: black;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    color: #255352;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;

}

form> a.botao:hover{
    background-color:#62dbd7 ;
}

form > a.botao > span {
    font-size: 1em;
}

